/* Variables */
  :root{
    --BodyFontsFamily: 'Quicksand', sans-serif;
    --LatoFontsFamily: 'Lato', sans-serif;
    --MainColor: #3BB77E;
    --MainAltColor: #FDC040;
    --MainTextColor: #555;
    --MainHeadingColor: #253D4E;
    --MainTransition: 0.4s;
    --MainPaddingTop: 25px;
    --MainPaddingBottom: 25px;
  }
/* Styling The Shop Products Section */
  section.shop-products {
    padding: var(--MainPaddingTop) 12px var(--MainPaddingBottom);
  }
  section.shop-products .shop-products-container {
    display: flex;
    gap: 15px;
  }
  section.shop-products .shop-products-content {
    width: 79.5%;
  }
  section.shop-products .main-filters-products-container {
    margin-bottom: 30px;
  }
  section.shop-products .main-filters-products-container .filter-title {
    font-size: 16px;
    color: var(--MainTextColor);
    font-weight: 500;
  }
  section.shop-products .main-filters-products-container .filter-title .highlight {
    color: var(--MainColor);
    font-family: var(--LatoFontsFamily);
    font-weight: 600;
  }
  section.shop-products .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }
  .main-aside-content {
    width: 19.5%;
  }
  .main-aside-content .sidebar-box {
    border: 1px solid #ececec;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 30px;
  }
  .main-aside-content .sidebar-box .categories-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F2F3F4;
    padding: 10px 12px;
    border-radius: 4px;
    transition: var(--MainTransition);
  }
  .main-aside-content .sidebar-box .categories-list li:not(:last-child) {
    margin-bottom: 15px;
  }
  .main-aside-content .sidebar-box .categories-list li:hover {
    border-color: #BCE3C9;
  }
  .main-aside-content .sidebar-box .categories-list li a {
    display: flex;
    align-items: center;
    color: var(--MainHeadingColor);
    font-size: 14px;
    font-weight: 600;
    transition: var(--MainTransition);
  }
  .main-aside-content .sidebar-box .categories-list li:hover a {
    color: var(--MainColor);
  }
  .main-aside-content .sidebar-box .categories-list li a img {
    max-width: 28px;
    margin-right: 15px;
  }
  .main-aside-content .sidebar-box .categories-list li .cate-num {
    background-color: #BCE3C9;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--MainHeadingColor);
    font-size: 12px;
    font-weight: 500;
  }
  /* .main-aside-content .sidebar-box . {

  } */
  .main-aside-content .sidebar-box .prod-box {
    display: flex;
  }
  .main-aside-content .sidebar-box .prod-box:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 2px dashed #ececec;
    margin-bottom: 10px;
  }
  .main-aside-content .sidebar-box .prod-box .image {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    margin-right: 10px;
    overflow: hidden;
  }
  .main-aside-content .sidebar-box .prod-box .prod-title {
    display: block;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: var(--MainColor);
    transition: var(--MainTransition);
  }
  .main-aside-content .sidebar-box .prod-box .prod-title:hover {
    color: var(--MainAltColor);
  }
  .main-aside-content .sidebar-box .prod-box .prod-price {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: var(--MainTextColor);
    margin: 5px 0;
  }
  /* ----- Making The Shop Products Section Responsive ----- */
  @media (max-width: 1024px) {
    section.shop-products .shop-products-container {
      flex-direction: column;
      gap: 20px;
    }
    section.shop-products .shop-products-content,
    .main-aside-content{
      width: 100%;
    }
  }