/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* Variables */
  :root{
  --BodyFontsFamily: 'Quicksand', sans-serif;
  --LatoFontsFamily: 'Lato', sans-serif;
  --MainColor: #3BB77E;
  --MainAltColor: #FDC040;
  --MainTextColor: #555;
  --MainHeadingColor: #253D4E;
  --MainTransition: 0.4s;
  --MainPaddingTop: 25px;
  --MainPaddingBottom: 25px;
  }